@font-face {
    font-family: DarkerGrotesqueMedium;
    src: url(../../../fonts/DarkerGrotesque-Medium.ttf) format('opentype');
}
@font-face {
    font-family: DarkerGrotesqueSemiBold;
    src: url(../../../fonts/DarkerGrotesque-SemiBold.ttf) format('opentype');
}
@font-face {
    font-family: DarkerGrotesqueBlack;
    src: url(../../../fonts/DarkerGrotesque-Black.ttf) format('opentype');
}
@font-face {
    font-family: Quicksand;
    src: url(../../../fonts/Quicksand-Regular.ttf) format('opentype');
}
@font-face {
    font-family: Quantico;
    src: url(../../../fonts/Quantico-Regular.ttf) format('opentype');
}

.title{
    font-family: DarkerGrotesqueBlack;
    
    font-size: 42px;
}
.subTitle{
    font-family: DarkerGrotesqueSemiBold;
   
    font-size: 32px;
}
.text{
    font-family: DarkerGrotesqueMedium;
    color: white;
    font-size: 18px;
}
.button{
    font-family:Quicksand;
    font-size: 18px;
    
}
.data{
    font-family:Quantico;
    font-size: 42px;
    color: white;
}